<div class="col-lg-5">
  <div class="card shadow-0 border">
    <div class="card-body">
      <%= turbo_frame_tag "cart_frame" do %>
        <% if cart.cart_items.any? %>
          <% cart.cart_items.each do |product_id, item_data| %>
            <% product = Product.find_by(id: product_id) %>
            <% if product %>
              <div class="mb-4 cart-item-js">
                <div class="row d-flex justify-content-between align-items-center">
                  <span class="col-lg-4 fw-bold"><%= product.name %></span>
                  <span class="col-lg-2 text-muted">x <%= item_data[:quantity] %></span>
                  <span class="col-lg-2 text-success">
                    <% if item_data[:price_with_discount] %>
                      <%= number_to_currency(item_data[:price_with_discount].to_f) %>
                    <% end %>
                  </span>
                  <span class="col-lg-2 <%= "text-decoration-line-through text-danger" if item_data[:price_with_discount] %>">
                    <%= number_to_currency(item_data[:price_per_item].to_f) %>
                  </span>
                </div>
                <% if item_data[:discount_description] %>
                  <p class="mb-2 fw-lighter fst-italic text-muted mt-1"><%= item_data[:discount_description] %></p>
                <% end %>
              </div>
            <% end %>
          <% end %>
          <div class="d-flex justify-content-between border-top pt-4">
            <p class="mb-2">Total Price:</p>
            <h4 class="mb-2"><%= number_to_currency(cart.cart_total_price) %></h4>
          </div>
          <div id="checkout-container-js" class="mt-4 border-top">
            <div>
              <%= button_to "Checkout", checkout_path, method: :post, class: "btn btn-success w-100 shadow-0 mb-2", data: { turbo: false } %>
            </div>
          </div>
        <% else %>
          <div class="d-flex justify-content-center">
            <p class="mb-2 text-danger fw-bold">Your cart is empty.</p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
