<div class="container rounded border p-3 mb-3">
  <div class="row d-flex justify-content-center">
    <div class="col-md-3">
      <div class="image-container me-3" style="width: 96px; height: 96px;">
        <img src="<%= product.image_url %>" class="border rounded me-3 img-fluid" style="width: 100%; height: 100%; object-fit: cover;" alt="<%= product.name %>" />
      </div>
    </div>
    <div class="col-md-6">
      <h5><%= product.name %></h5>
      <h5 class="text-success"><%= number_to_currency(product.price) %></h5>
      <% if product.pricing_rules.any? %>
        <p class="text-muted fst-italic">
          <%= product.pricing_rules.first.description %>
        </p>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= form_with(url: add_to_cart_product_path(product), method: :post, data: { turbo_frame: 'cart_frame' }, class: "form-inline") do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <div class="input-group mb-3">
          <% product_quantity = @cart.cart_items[product.id.to_s].present? ? @cart.cart_items[product.id.to_s][:quantity] : 1 %>
          <%= f.select :quantity, (0..10).to_a, { selected: product_quantity }, { class: "form-select" } %>
          <%= f.submit "Add", class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
